:root{
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    background-image: url('Assets/Standart.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

main{
    margin-right: 5rem;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position:fixed;
}

.slideshow{
    width:100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.slide{
    width: 100%;
    margin: 100px;
}

.view{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block{
    width: clamp(200px,60%,800px);
    height: clamp(200px,60%,800px);
    background: rgba(211, 211, 211, 0.8);
    margin: 50px;
    border: 0.5mm solid_black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(1 1 1 1);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    }